<div class="panel">
  <div class="panel-heading"><%= group.name %>

    <div class="tools pull-right">
      <div class="dropdown">
        <a id="dLabel" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="glyphicon glyphicon-cog"></span>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">

         <li><%= link_to "Edit", edit_group_path(group) %></li>
         <li><%= link_to "Delete Group", group, method: :delete,
        data: { confirm: "You sure?" } %></li>

       </ul>
     </div>

   </div>

 </div>                        
 <div class="panel-body" id="class-info">


  <table class="table">
    <tbody>
      <tr>
          <td><b>Code</b></td>
          <td><div class="pull-right"><%= group.passcode %></div></td>
      </tr>
      <tr>
        <td><b>Class</b></td>
        <td><div class="pull-right"><%= group.name %></div></td>
      </tr>
      <tr>
        <td><b>Grade</b></th>
          <td><div class="pull-right">KG2</div></td>
        </tr>
        <tr>
          <td><b>Subscribers</b></td>
          <td> 
            <% count = group.membership.count %>
            <% if count = 1 %>
            <% count_text = 'Only You' %>
            <% else %>
            <% count_text = group.membership.count.to_s %>
            <% end %>
            <div class="pull-right"><a href="#" title="see all subscribers"><span class="glyphicon glyphicon-user" style="display: inline-block;">&nbsp;<%= group.membership.count.to_s%></a></span></div>
          </td>
        </tr>
        
        </tbody>
      </table>
      <hr>
<p style="text-align: center;">    
          <a href="#"><img id="add-symbol" src="/assets/1433890023_add_user_green.png" width="28px">&nbsp; Invite people!</a>
        </p>
    </div> 
    </div>              


    <div class="panel">

      <div class="panel-body">  

        <a href="http://localhost:3000/events" title="view all events" style="font-size: 14px;"><span class="glyphicon glyphicon-calendar" style="font-size: 12px;"></span>&nbsp; Group events </a>

        <hr>
    <table class="table" style="font-size: 12px;" id="events-table">
    <tbody>
        <% group.event.each do |event| %>
        <% if event.start_time > DateTime.now.to_date %>
      <tr>
          
        <td>
            
            
          <%= event.title %>
          </td>
        <td>
          <%= event.start_time.strftime("%d %b, %Y") %>

            
            
          </td>
      </tr>
        <% end %>
        <% end %>
      </tbody>
      </table>

      </div>

    </div>

   