    <%= form_for @event, remote: true do |f| %>
    <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

      
        
     <div id="event-content">     
        
            <div class="row">

                <%= f.text_field :title, placeholder: "Event title", class: "form-control input-sm m-b", style: "min-height: 35px;" %>
        
</div>
         <br>
  
    <div class="row">
      
        
                
        
        <%= f.text_field :descreption, placeholder: "Event descreption (optional).....", class: "form-control input-sm m-b", style: "min-height: 35px;" %>
        
      
    </div>
         <br>

    <div class="row">
      <div class="form-group" id="date">
      
        
     
     
        <div class="input-group date">
          <span class="input-group-addon" style="padding-top:10px;"><i class="fa fa-calendar"></i>&nbsp;Date</span><%= f.text_field :start_time, class: "form-control input-sm m-b", style: "min-height: 35px;" %>
       
      </div>
     
       
      
     
    </div>
  </div>

  
  
  <div class="row">
    
    
         
        
    <%= render 'shared/group_select' %>
  
  </div>
  <div class="row">
   
      <%= f.submit "Post", class: "btn btn-primary" %>
    </div>
  </div>
  <% end %>

 
  
  <% content_for :javascript do %>

  <script type="text/javascript">


  $(function() {



    $('.i-checks').iCheck({
      checkboxClass: 'icheckbox_square-green',
      radioClass: 'iradio_square-green',
    });



    $('#date .input-group.date').datepicker({
      format: 'dd/mm/yyyy (D)',
      todayBtn: "linked",
      keyboardNavigation: false,
      forceParse: false,
      calendarWeeks: true,
      autoclose: true
    });

    $('#date2 .input-group.date').datepicker({
      format: 'dd/mm/yyyy (D)',
      todayBtn: "linked",
      keyboardNavigation: false,
      forceParse: false,
      calendarWeeks: true,
      autoclose: true
    });

    $(function() {
      $("#multiday").click( function()
      {
       $("#end_date").toggle("slow");
     }
     );
    });



  });



  </script>

  <% end %>
